.service-wrap {
    padding: 30px 0;
}

#services {
    background-size: cover;
    @include clearfix();

    .service-inner {
        padding: 0 20px;
        background-color: $grey;
        border: 1px solid $lightgrey;
        box-shadow: 0 0 3px 0 rgba(236, 240, 241, 0.75);

        .icon {
            width: 150px;
            height: auto;
            margin: 25px 0;
        }
    }

    .service-block {
        @include make-xs-column(12);
        @include make-sm-column(6);
        @include make-md-column(3);
        margin: 15px 0;

        .service-btn {
            a {
                width: 100%;
                display: block;
                background-color: $darkblue;
                transition: background-color 0.3s ease;
                color: white;
                padding: 10px 0;
                color: white;
                text-transform: capitalize;
                letter-spacing: 1px;
                font-size: 14px;

                &:hover {
                    background-color: $red;
                }
            }
        }

        .img-icon {
            background-image: url('../img/icons/1-phone.svg');
        }
    }
}