/*
|--------------------------------------------------------------------------
| Variables
|--------------------------------------------------------------------------
|
*/
$background-bg: #FFFFFF;
$body-text: #000000;
$white: #FFFFFF;
$black: #000000;
$lightblue: #3498db;
$midblue: #2980b9;
$darkblue: #2c3e50;
$red: #BE3144;
$darkgrey: #303841;
$midgrey: #3A4750;
$lightgrey: #D3D6DB;
$grey: #ecf0f1;
//new